version: '3'
services:
  redis:
    image: redis:alpine
  postgresql:
    image: postgis/postgis:15-3.3-alpine
    env_file:
    - ./rapidpro.env
    environment:
    - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
    - /var/run/postgresql/15/data:/var/lib/postgresql/data
  rapidpro:
    image: rapidpro:7.4-slim
    env_file:
    - ./rapidpro.env
    build:
      context: rapidpro
      args:
        RAPIDPRO_VERSION: 7.4.2
    depends_on:
    - redis
    - postgresql
    environment:
    - POSTGRES_PORT=5432
    - POSTGRES_HOST=postgresql
    - MAILROOM_URL=http://mailroom:8090
    - REDIS_URL=redis://redis:6379
  mailroom:
    image: mailroom:7.4-ubuntu
    env_file:
    - ./rapidpro.env
    build:
      context: mailroom
      args:
        MAILROOM_VERSION: 7.4.1
    environment:
    - POSTGRES_PORT=5432
    - POSTGRES_HOST=postgresql
    - BACKEND_URL=http://rapidpro:8000 
    - MAILROOM_REDIS=redis://redis:6379/15
    - MAILROOM_LOG_LEVEL=debug
    depends_on:
    - rapidpro
  courier:
    image: courier:7.4-ubuntu
    env_file:
    - ./rapidpro.env
    build:
      context: courier
      args:
        COURIER_VERSION: 7.4.0
    environment:
    - POSTGRES_PORT=5432
    - POSTGRES_HOST=postgresql
    - BACKEND_URL=http://rapidpro:8000 
    - COURIER_REDIS=redis://redis:6379/15
    - COURIER_LOG_LEVEL=debug
    depends_on:
    - rapidpro
  nginx:
    build:
      context: nginx
      args:
        CERT_ORG_NAME: kiboko.net
        CERT_COMMON_NAME: kiboko
    command: [nginx-debug, '-g', 'daemon off;']
    depends_on:
    - courier
    - mailroom
    ports:
    - "0.0.0.0:80:80"
    - "0.0.0.0:8080:80"
    - "0.0.0.0:443:443"
    - "0.0.0.0:4443:4443"
